.apexcharts-tooltip {
    background: #ffffff;
    color: black;
}

.bills-table {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.bills-table > div > table > tbody > tr > th {
    color: #dde1ef !important;
    border-bottom-color: #606472 !important;
    padding: 10px 0;
    font-size: 0.8rem;
}

.bills-table > div > table > tbody > tr:first-child > th {
    border-radius: 10px 0 0 0;
}

.bills-table > div > table > tbody > tr:last-child > th {
    border-radius: 0 0 0 10px;
}

.bills-table > div > table > tbody > tr > td {
    color: #dde1ef !important;
    border-bottom-color: #606472 !important;
    padding: 10px 0;
    font-size: 0.8rem;
}

.bills-table > div > table > tbody > tr > th {
    background: rgba(0, 0, 0, 0.2);
}

.bills-table > div > table > tbody > tr:last-child > th, td {
    border: none;
}
.bills-table > div > table > tbody > tr:last-child > td {
    border: none;
}