.apexcharts-tooltip {
    background: #ffffff;
    color: black;
}

.apexcharts-menu {
    background: #ffffff;
    color: black;
}

/* node chart */
.chart-container-node {
    /* background-color: rgb(77, 80, 94); */
    /* border: 1px solid #eff0f5; */
    border-radius: 8px;
    padding: 20px 20px 40px 20px;
}

.chart-container-node .chart-title {
    color: white;
    padding: 0 4px 12px 4px;
    margin: 0;
    border-bottom: 1px solid #9498a8;
    font-size: 24px;
}

/* node list */
.node-list-metadata {
    color: #ffffff;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}
.node-list-metadata > span {
    padding-top: 10px;
    font-size: 22px;
    font-weight: bold;
    padding-right: 10px;
}

/* Workload table */
.pie-chart-container > div > svg path {
    stroke-width: 0;
}

.pie-chart-container > div {
    color : white;
}

.moni-workloads-table{
    width: calc(100vw / 100 * 77);
    min-width: 100%;
}

.moni-workloads-table > div > table > thead > tr > th:first-child {
    border-radius: 5px 0 0 5px;
}

.moni-workloads-table > div > table > thead > tr > th:last-child {
    border-radius: 0 5px 5px 0;
}

.moni-workloads-table > div > table > thead > tr > th {
    color: #ffffff;
    border-bottom: 0;
    background: #222634;
    font-size: 11px;
}

.moni-workloads-table > div > table > tbody > tr > th {
    color: #dde1ef !important;
    border-bottom-color: #606472 !important;
}

.moni-workloads-table > div > table > tbody > tr > td {
    color: #dde1ef !important;
    border-bottom-color: #606472 !important;
}

/* node detail card */
.node-detail-card {
    color: #ffffff;
    padding: 10px;
}
.node-detail-card > * {
    margin-bottom: 10px;
}

.node-detail-card > .MuiBox-root {
    width: fit-content !important;
}

.node-detail-card > div > .MuiBox-root {
    width: fit-content !important;
    margin-right: 10px;
}

.node-detail-card > div > table > thead > tr > th:first-child {
    border-radius: 5px 0 0 5px;
}

.node-detail-card > div > table > thead > tr > th:last-child {
    border-radius: 0 5px 5px 0;
}

.node-detail-card > div > table > thead > tr > th {
    color: #ffffff;
    border-bottom: 0;
    background: #222634;
    font-size: 10px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.moni-dashboard-nodes > div > table > thead > tr > th {
    color: #ffffff;
    border-bottom: 0;
    background: #222634;
}

.node-detail-card > div > table > tbody > tr > th {
    color: #dde1ef !important;
    border-bottom-color: #606472 !important;
    width: 50px;
}

.node-detail-card > div > table > tbody > tr > td {
    color: #dde1ef !important;
    border-bottom-color: #606472 !important;
}

.node-detail-card > div > table > tbody > tr > td {
    color: #ffffff !important;
    width: 50px;
}

/* Nodes */

.moni-dashboard-nodes > div > table > thead > tr > th:first-child {
    border-radius: 5px 0 0 5px;
}

.moni-dashboard-nodes > div > table > thead > tr > th:last-child {
    border-radius: 0 5px 5px 0;
}

.moni-dashboard-nodes > div > table > thead > tr > th {
    color: #ffffff;
    border-bottom: 0;
    background: #222634;
}

.moni-dashboard-nodes > div > table > tbody > tr > th {
    color: #dde1ef !important;
    border-bottom-color: #606472 !important;
}

.moni-dashboard-nodes > div > table > tbody > tr > td {
    color: #dde1ef !important;
    border-bottom-color: #606472 !important;
    text-align: -webkit-center;
}

/* ClusterList */
.cluster-list-page {
    box-sizing: border-box;
    position: fixed;
    top: 67px;
    left: 0;
    width: 100vw;
    height: 100%;
    padding: 40px 100px;
    margin: 0;
    background: #2E3240;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.cluster-list-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 28px;
    padding-bottom: 12px;
    border-bottom: 1px solid #474B59;
}

.cluster-list-title {
    color: white;
    font-size: 24px;
}

.new-cluster-button {
    color: white;
    background-color: #474B59;
    border: 1px solid #797D8B;
    padding: 6px 12px;
    font-size: 14px;
    width: 74px;
    height: 28px;
}

.cluster-list {
    width: 100%;
    margin: 24px 0;
}

.cluster-list > div > table > thead > tr > th:first-child {
    border-radius: 5px 0 0 5px;
}

.cluster-list > div > table > thead > tr > th:last-child {
    border-radius: 0 5px 5px 0;
}

.cluster-list > div > table > thead > tr > th {
    color: #ffffff;
    border-bottom: 0;
    background: #222634;
    font-size: 15px;
}

.cluster-list > div > table > tbody > tr > th {
    color: #dde1ef !important;
    border-bottom-color: #606472 !important;
}

.cluster-list > div > table > tbody > tr > td {
    color: #dde1ef !important;
    border-bottom-color: #606472 !important;
}

.view-icon.MuiSvgIcon-root {
    color: #019cf6;
    font-size: 2em;
    padding-bottom: 5px;
}

.view-icon.MuiSvgIcon-root:hover {
    cursor: pointer;
}

/* dashboard-page */
.dashboard-page {
    box-sizing: border-box;
    background: #606472;
    display: grid;
    grid-template-columns: 240px auto;
    overflow: auto;
    top: 68px;
    position: fixed;
    width: 100vw;
}

.monitoring-nav {
    background-color: #2e3240;
    padding: 15px 16px;
    color: white;
    font-size: 16px;
    width: 200px;
    overflow: auto;
    scrollbar-width: none;
}

.monitoring-nav::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
}

.monitoring-nav .menu-bar .MuiListItemText-root {
    padding: 0;
}

.MuiMenu-paper {
    width: 200px !important;
    background: #f5f6fc !important;
    color: #2e3240 !important;
}

.monitoring-nav .MuiList-root {
    margin: 0;
    padding: 0;   
}

.monitoring-nav .menu-bar .MuiListItemButton-root {
    border-left: solid 3px white !important;
    margin-bottom: 5px;
}

.monitoring-nav .MuiList-root > div > div > span {
    color: rgb(167, 252, 255) !important;
    font-size: 24px;
}

.monitoring-nav .MuiList-root > div > div > p {
    color: rgb(180, 180, 180) !important;
    font-size: 12px;
}

.monitoring-nav .MuiTypography-root {
    list-style: none;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
}

.monitoring-nav .MuiListItemText-root {
    list-style: none;
    box-sizing: border-box;
    padding: 8px 16px;
}

.monitoring-nav .MuiButtonBase-root {
    list-style: none;
    box-sizing: border-box;
    padding: 8px 16px;
    border-radius: 4px;
}

.monitoring-nav .inner-menu .MuiButtonBase-root {
    padding-left: 32px;
}

.monitoring-content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: auto;
    min-width: 1100px;
}

.monitoring-content .title {
    font-size: 34px;
    color: white;
    margin: 0;
    height: 40px;
}

.overview-content {
    display: flex;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.chart-container {
    background-color: rgb(56, 60, 74);
    border: 1px solid #abafbd;
    border-radius: 8px;
    padding: 20px 20px 40px 20px;
}

.chart-container .chart-title {
    color: white;
    padding: 0 4px 12px 4px;
    margin: 0;
    border-bottom: 1px solid #474b59;
    font-size: 24px;
}

.apexcharts-legend-series {
    margin: 5px 8px !important;
    display: flex !important;
    gap: 8px;
}

.apexcharts-legend {
    flex-direction: column;
}

.apexcharts-legend-marker {
    display: block !important;
    width: 12px;
}

.apexcharts-legend-text {
    width: 100%;
    display: flex;
    gap: 8px;
    font-size: 14px !important;
}

.legend-item-label {
    width: 100%;
}

.apexcharts-graphical {
    display: block;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 79vw;
}