/* 사용하는 css 파일 상단에 @import url('./variable.css'); */

:root {
    --dark-main: #151927; /* 진한 네이비 */
    --dark-sub1: #222634; /* 연한 네이비 */
    --dark-sub2: #f0f0f0; /* 연한 회색 */
    --dark-font: #ffffff; /* 하얀색 */
    --point1: #FFD600; /* 노란색 ~ 주황색 */
    --point2: #E5B84E;
    --point3: #E89738;
}