#root {
  max-width: 1280px;
  font-family: "Abel", sans-serif !important;
  font-weight: 400;
  font-style: normal;

}
::-webkit-scrollbar {
  height: 6px;
  width: 8px;
  margin-top: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: #949bb5;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background-color: #222634; /* 스크롤바 트랙(배경)의 색상 */
}
::-webkit-scrollbar-corner {
  background-color: transparent; /* 스크롤바 코너의 색상 */
}

/* font */
@font-face {
  font-family: "ubuntu-regular";
  src: url("./fonts/Ubuntu-Regular.ttf");
}